<div class="pagepart clearfix">
 <% if (page.prev){ %>
	<a href="<%- config.root %><%- page.prev.path %>" class="prev" title="<%= page.prev.title %>"><%= page.prev.title %></a>
 <% } %>
 <% if (page.next){ %>
	<a href="<%- config.root %><%- page.next.path %>" class="next" title="<%= page.next.title %>"><%= page.next.title %></a>
 <% } %>
</div>